<div class="mx-auto max-w-screen-xl rounded-lg bg-gray-100 p-6 shadow-lg">
  <h2 class="mb-4 text-2xl font-bold">Project selection</h2>

  <form
    [formGroup]="configForm"
    class="space-y-6">
    <div>
      <label
        for="projects"
        class="block text-lg font-medium text-gray-700"
        >Select Projects</label
      >
      <select
        id="projects"
        formControlName="selectedProjects"
        multiple
        size="7"
        class="mt-2 w-full overflow-y-auto rounded-md border border-gray-300 p-2 shadow-sm focus:ring focus:ring-opacity-50">
        <option
          *ngFor="let project of projectsPool"
          [value]="project">
          {{ project }}
        </option>
      </select>
    </div>

    <div class="flex items-center">
      <input
        type="checkbox"
        id="allOption"
        formControlName="addAll"
        class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring focus:ring-opacity-50" />
      <label
        for="allOption"
        class="ml-2 block text-lg font-medium text-gray-700">
        Lunch All projects
      </label>
    </div>

    <div class="flex items-center">
      <input
        type="checkbox"
        id="coreOption"
        formControlName="addCore"
        class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring focus:ring-opacity-50" />
      <label
        for="coreOption"
        class="ml-2 block text-lg font-medium text-gray-700">
        Lunch Core ({{ coreOption.join(', ') }})
      </label>
    </div>

    <div class="flex items-center">
      <input
        type="checkbox"
        id="chatOption"
        formControlName="addChat"
        class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring focus:ring-opacity-50" />
      <label
        for="chatOption"
        class="ml-2 block text-lg font-medium text-gray-700">
        Lunch Chat ({{ chatOption.join(', ') }})
      </label>
    </div>

    <div class="flex items-center">
      <input
        type="checkbox"
        id="videoOption"
        formControlName="addVideo"
        class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring focus:ring-opacity-50" />
      <label
        for="videoOption"
        class="ml-2 block text-lg font-medium text-gray-700">
        Launch Video ({{ videoOption.join(', ') }})
      </label>
    </div>

    <div class="flex items-center">
      <input
        type="checkbox"
        id="documentOption"
        formControlName="addDocument"
        class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring focus:ring-opacity-50" />
      <label
        for="documentOption"
        class="ml-2 block text-lg font-medium text-gray-700">
        Launch Document ({{ documentOption.join(', ') }})
      </label>
    </div>

    <div class="flex items-center">
      <input
        type="checkbox"
        id="rendererOption"
        formControlName="addRenderer"
        class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring focus:ring-opacity-50" />
      <label
        class="ml-2 block text-lg font-medium text-gray-700">
        Link communicate block renderer
      </label>
    </div>

    <div class="flex items-center">
      <input
        type="checkbox"
        id="sharedOption"
        formControlName="addShared"
        class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring focus:ring-opacity-50" />
      <label
        class="ml-2 block text-lg font-medium text-gray-700">
        Link shared library
      </label>
    </div>

    <div class="flex items-center">
      <input
        type="checkbox"
        id="commonOption"
        formControlName="addCommon"
        class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring focus:ring-opacity-50" />
      <label
        class="ml-2 block text-lg font-medium text-gray-700">
        link block designer common
      </label>
    </div>

    <div>
      <h3 class="text-lg font-semibold">Selected Projects:</h3>
      <ul class="mt-2 list-disc pl-6">
        <li *ngFor="let selected of configForm.get('selectedProjects')?.value">
          {{ selected }}
        </li>
      </ul>
    </div>
  </form>
</div>
