<div class="flex">
  <nav
    [ngClass]="{'w-20': isSidebarMinimized, 'w-60': !isSidebarMinimized}"
    class="fixed left-0 top-0 z-10 h-screen space-y-2 bg-gray-800 p-4 text-white transition-all duration-300">
    <button
      (click)="toggleSidebar()"
      class="w-full rounded bg-gray-700 px-2 py-1 text-white hover:bg-gray-600">
      {{ isSidebarMinimized ? '☰' : 'Minimize' }}
    </button>

    <a
      routerLink="/config"
      routerLinkActive="active-tab"
      class="block rounded px-2 py-2 hover:bg-gray-700"
      [ngClass]="{
        'text-center': isSidebarMinimized,
        'text-left': !isSidebarMinimized
      }">
      <span *ngIf="isSidebarMinimized">⚙️</span>
      <span *ngIf="!isSidebarMinimized">Configuration</span>
    </a>

    <a
      routerLink="/terminals"
      routerLinkActive="active-tab"
      class="block rounded px-2 py-2 hover:bg-gray-700"
      [ngClass]="{
        'text-center': isSidebarMinimized,
        'text-left': !isSidebarMinimized
      }">
      <span *ngIf="isSidebarMinimized">$</span>
      <span *ngIf="!isSidebarMinimized">Terminals</span>
    </a>
  </nav>

  <main
    [ngClass]="{'ml-24': isSidebarMinimized, 'ml-64': !isSidebarMinimized}"
    class="ml-64 h-screen flex-1 overflow-y-auto pt-6 transition-all duration-300">
    <router-outlet></router-outlet>
  </main>
</div>
