<div [ngClass]="this.fullscreen ? 'fixed z-50 inset-0 px-24 pt-6 pb-12 left-0 bg-slate-900/40 backdrop-blur-sm' : 'relative w-full h-[400px]'"
     class="transition duration-1000 ease-in-out"
>
  <div
    id="{{ id() }}"
    class="group flex h-full w-full flex-col  transition-all duration-1000 ease-in-out"
      [class.opacity-0]="!this.loadingService.isLoaded()">
    <div class="flex rounded-t-2xl bg-green-500 group-focus-within:bg-indigo-500">
      <div class="w-11/12">
        <p
          class="text-center text-amber-50"
          [textContent]="name()"></p>
      </div>
      <div class="w-1/12">
        <button
          class="flex h-full w-full items-center justify-center bg-transparent text-amber-50 hover:rounded-tr-2xl hover:bg-green-600 focus:outline-none group-focus-within:hover:bg-indigo-600"
          (click)="handleExpand()"
          aria-label="Expand">
          <fa-icon [icon]="fullscreen ? faCompress : faExpand"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>
